





html {
    height: 100%;
}

body {
    min-height: 100%;
    width:95%;
    
}








header{ 
	
 
margin-top: 2.5em;
	
	padding-left: 1em;
	padding-right: 10em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	border: 2px solid red;
	border-radius: 5px;
	
}

.top-menu{
	height:auto;
	display: grid;
	grid-gap: 50px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100px;
}

.menu-box{
	background-color: blue;
	border-radius: 25px;
	text-align:center;
	grid-template-rows:1;
	
}

main{
	
	height:auto; 
	
    
	border: 2px solid green;
	border-radius: 5px;
	
	
}

.form-area{
	display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  
  justify-content:space-around; 
	height:auto;
	width:90%;
	border: 2px solid green;
	
	
}

.form-box{
	vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
	
	
}


.display-area{
	
	height:500px;
	width:100%;
	border: 2px solid black;
	
	
}


footer{
	
padding-left: 1em;
	padding-right: 10em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	border: 2px solid #69FF20;
	border-radius: 5px;

	
	
}