html {
    height: 100%;
}

body {
    min-height: 100%;
    width: 95%;
    background-image: linear-gradient(to top right, rgba(62, 242, 236, 0) 0%, rgba(0, 233, 233, 0.5) 65%, rgba(123, 205, 0, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    margin-top: 2.5em;
    padding-left: 1em;
    padding-right: 10em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border: 2px solid red;
    border-radius: 5px;
}

.top-menu {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style-type: none;
}

.button-menu {
    background-color: rgb(0, 183, 255);
    display: inline-block;
    width: 8em;
    height: 5em;
    border: 3px solid black;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.button-menu:hover {
    display: none;
}

.button-menu:hover+.hide {
    display: block;
    box-shadow: inset 2px 2px 2px 2px #111111;
    background-color: rgb(0, 158, 225);
    width: 8em;
    height: 5em;
    border: 3px solid black;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.hide {
    display: none;
}

main {
    height: auto;
    border: 2px solid green;
    border-radius: 5px;
}

.form-area {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 90%;
    border: 2px solid green;
}

.form-box {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

select {
    width: 12em;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

button {
    background-color: rgb(0, 158, 225);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
}

button:hover {
    opacity: 0.8;
}

.display-area {
    height: 500px;
    width: 100%;
    border: 2px solid black;
    overflow-y: scroll;
}

.result-table {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

.result-table td {
    border: 3px solid rgb(0, 0, 0);
    padding: 8px;
}

.result-table tr:hover {
    background-color: rgb(252, 255, 91);
}

.result-table td:first-child {
    text-align: left;
}

@media screen and (max-width: 825px) {
    li button {
        width: 6em;
    }
    .form-area {
        flex-flow: column wrap;
    }
}

@media screen and (max-width: 525px) {
    li button {
        width: 4em;
    }
}

footer {
    padding-left: 1em;
    padding-right: 10em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border: 2px solid #69FF20;
    border-radius: 5px;
}